@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #BBE1FA;
    --color2: #3282B8;
    --color3: #0F4C75;
    --color4: #1B262C;
    --color5: #CD8ECC;
    --fontFamilyTitle: 'Hind Siliguri', sans-serif;
    --fontFamilyText: 'Montserrat', sans-serif;
    --transitionFunction: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

html {
    font-size: 7px;
    font-family: var(--fontFamilyText);
    font-weight: 400;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}




#background-top {
    width: 100%;
    height: 30rem;
    background: url(assets/background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 0;
}

#form {
    width: 100%;
    height: calc(100vh - 25rem);
    margin-top: 25rem;
    background-color: #fff;
    border-radius: 3rem 3rem 0 0;
    position: relative;
    z-index: 100;
    box-shadow: 0 -2rem 5rem 0 rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_h1 {
    font-size: 5rem;
    font-family: var(--fontFamilyTitle);
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: -3px 3px 5px var(--color1);
    margin-bottom: 5rem;
}

.form_h2 {
    font-size: 2rem;
    font-family: var(--fontFamilyTitle);
    font-weight: 400;
    width: 75%;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    transition: transform .4s, letter-spacing .3s;
    transition-timing-function: var(--transitionFunction);
}

.form_h2-focus {
    letter-spacing: 2px;
    transform: scale(1.1);
}

.form_container {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    width: 75%;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--color4);
    transition: transform .4s var(--transitionFunction);
}

.form_container-focus {
    transform: scale(1.1);
    border-bottom-color: var(--color3);
}

.container_icon {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color4);
    transition: .2s ease-in;
}

.container_icon-focus {
    color: var(--color3);
}

.container_input {
    padding: 1rem 1.5rem;
    flex-grow: 1;
    font-size: 1.7rem;
    line-height: 2rem;
    font-family: var(--fontFamilyText);
    font-weight: 700;
    border: none;
    outline: none;
    background-color: transparent;
}

.container_input::placeholder {
    font-weight: 400;
}

[class *= "form_link"] {
    display: inline-block;
    font-size: 1.5rem;
    padding: .5rem;
    position: relative;
}

.form_link {
    transition: transform .5s, color .2s;
    transition-timing-function: var(--transitionFunction);
}

.form_link-first {
    margin-bottom: 2rem;
    transition: color .2s var(--transitionFunction);
}

[class *= "form_link"]::before {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--color2);
    position: absolute;
    bottom: 0;
    transition: width .5s var(--transitionFunction);
}

.form_link-first::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--color2);
    position: absolute;
    right: 50%;
    bottom: 0;
    transition: width .5s var(--transitionFunction);
}

.form_link::before {
    left: 0;
}

.form_link-first::before {
    left: 50%;
}

.form_link:hover::before {
    width: 100%;
}

.form_link-first:hover::before,
.form_link-first:hover::after {
    width: 50%;
}

.form_link:hover {
    color: var(--color2);
    transform: translateX(1.5rem);
}

.form_link-first:hover {
    color: var(--color2);
}

.form_submit {
    width: 75%;
    position: relative;
    padding: 1rem;
    margin-bottom: 5rem;
    color: #fff;
    font-size: 2.5rem;
    font-family: var(--fontFamilyTitle);
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    border-radius: 4rem;
    background-color: var(--color3);
    transition: background-color .25s, transform .5s, box-shadow .25s;
    transition-timing-function: var(--transitionFunction);
}

.form_submit:hover {
    background-color: var(--color2);
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

.form_submit:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.form_social {
    width: 75%;
}

.social_h4 {
    font-size: 1.5rem;
    text-align: center;
}

.social_ul {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin: 1.5rem 0 3rem;
}

.social__li-link {
    width: 6rem;
    height: 6rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    border-radius: 50%;
    color: var(--color4);
    background-color: var(--color1);
    transition: transform .5s var(--transitionFunction);
}

.social__li-link:hover {
    transform: translateY(-.7rem);
    background: linear-gradient(to top, var(--color2), var(--color1));
}