@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #BBE1FA;
    --color2: #3282B8;
    --color3: #0F4C75;
    --color4: #1B262C;
    --fontFamilyTitle: 'Hind Siliguri', sans-serif;
    --fontFamilyText: 'Montserrat', sans-serif;
    --transitionFunction: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

html {
    font-size: 7px;
    font-family: var(--fontFamilyText);
    font-weight: 400;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}




#background-top {
    width: 100%;
    height: 30rem;
    background: url(assets/background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 0;
}

#form {
    width: 100%;
    height: max-content;
    margin-top: 25rem;
    background-color: #fff;
    border-radius: 3rem 3rem 0 0;
    position: relative;
    z-index: 100;
    box-shadow: 0 -2rem 5rem 0 rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form_h1 {
    font-size: 5rem;
    font-family: var(--fontFamilyTitle);
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: -3px 3px 5px var(--color1);
    margin: 2rem 0 6rem;
}

.form_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_h2 {
    font-size: 2rem;
    font-family: var(--fontFamilyTitle);
    font-weight: 400;
    width: 75%;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    transition: transform .4s, letter-spacing .3s;
    transition-timing-function: var(--transitionFunction);
}

.form_h2-focus {
    letter-spacing: 2px;
    transform: scale(1.1);
}

.form_container {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    width: 75%;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--color4);
    transition: transform .4s var(--transitionFunction);
}

.form_container-focus {
    transform: scale(1.1);
    border-bottom-color: var(--color3);
}

.container_icon {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color4);
    transition: .2s ease-in;
}

.container_icon-focus {
    color: var(--color3);
}

.container_input {
    padding: 1rem 1.5rem;
    flex-grow: 1;
    font-size: 1.7rem;
    line-height: 2rem;
    font-family: var(--fontFamilyText);
    font-weight: 700;
    border: none;
    outline: none;
    background-color: transparent;
}

.container_input::placeholder {
    font-weight: 400;
}

[class *= "form_link"] {
    display: inline-block;
    font-size: 1.5rem;
    padding: .5rem;
    position: relative;
}

.form_link {
    margin-bottom: 2.5rem;
    transition: transform .5s, color .2s;
    transition-timing-function: var(--transitionFunction);
}

.form_link-first {
    margin-bottom: 2rem;
    transition: color .2s var(--transitionFunction);
}

[class *= "form_link"]::before {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--color2);
    position: absolute;
    bottom: 0;
    transition: width .5s var(--transitionFunction);
}

.form_link-first::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--color2);
    position: absolute;
    right: 50%;
    bottom: 0;
    transition: width .5s var(--transitionFunction);
}

.form_link::before {
    left: 0;
}

.form_link-first::before {
    left: 50%;
}

.form_link:hover::before {
    width: 100%;
}

.form_link-first:hover::before,
.form_link-first:hover::after {
    width: 50%;
}

.form_link:hover {
    color: var(--color2);
    transform: translateX(1.5rem);
}

.form_link-first:hover {
    color: var(--color2);
}

.form_submit {
    width: 75%;
    position: relative;
    padding: 1rem;
    margin-bottom: 6rem;
    color: #fff;
    font-size: 2.5rem;
    font-family: var(--fontFamilyTitle);
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    border-radius: 4rem;
    background-color: var(--color3);
    transition: background-color .25s, transform .5s, box-shadow .25s;
    transition-timing-function: var(--transitionFunction);
}

.form_submit:hover {
    background-color: var(--color2);
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

.form_submit:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.form_social {
    width: 75%;
}

.social_h4 {
    font-size: 1.5rem;
    text-align: center;
}

.social_ul {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin: 2rem 0 4rem;
}

.social__li-link {
    width: 6rem;
    height: 6rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    border-radius: 50%;
    color: var(--color4);
    background-color: var(--color1);
    transition: transform .5s var(--transitionFunction);
}

.social__li-link:hover {
    transform: translateY(-.7rem);
    background: linear-gradient(to top, var(--color2), var(--color1));
}




/* Media queries for Mobile */

@media screen and (min-height: 750px){
    #form {
        height: calc(100vh - 25rem);
    }

    .form_h1 {
        margin: 2.5rem 0 0;
    }

    .form_submit {
        margin-bottom: 2rem;
    }

    .form_social {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 400px) and (min-height: 850px) {
    html {
        font-size: 8px;
    }

    .form_h1 {
        margin: 4rem 0 0;
    }
}

/* Media queries for Tablet */

@media screen and (min-width: 600px) {
    body {
        display: grid;
        place-items: center;
    }

    #background-top {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #form {
        width: 60%;
        margin: 5rem 0 5rem;
        border-radius: 3rem;
        box-shadow: 0 0 5rem 0 rgba(0, 0, 0, .5);
        background-color: rgba(255, 255, 255, .95);
    }
}

@media screen and (min-width: 750px) {
    #form {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 9px;
    }
}

/* Media queries for Desktop */

@media screen and (min-width: 1000px) {
    body {
        display: flex;
        align-items: flex-start;
    }

    #background-top {
        width: 50%;
        height: 100vh;
        position: relative;
    }

    #form {
        width: 50%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        box-shadow: -2rem 0 3rem 0 rgba(0, 0, 0, .5);
        background-color: #fff;
    }

    .form_h1 {
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .form_h2 {
        font-size: 1.75rem;
    }

    .form_container {
        margin-bottom: 2.5rem;
    }

    .container_icon {
        font-size: 1.75rem;
        line-height: 1.75rem;
    }
    
    .container_input {
        padding: .75rem 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    [class *= "form_link"] {
        font-size: 1.25rem;
        padding: .25rem .5rem;
    }
    
    .form_link {
        margin-bottom: 2rem;
    }
    
    .form_link-first {
        margin: 1.5rem 0;
    }
    
    .form_submit {
        width: 50%;
        padding: .75rem;
        margin-bottom: 4rem;
        font-size: 2rem;
    }
    
    .social_h4 {
        font-size: 1.25rem;
    }
    
    .social__li-link {
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) and (min-height: 700px) {
    html {
        font-size: 10px;
    }
    #form {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1400px) and (min-height: 800px) {
    .form_h2 {
        font-size: 2rem;
    }

    .form_container {
        margin-bottom: 5rem;
    }

    .container_icon {
        font-size: 2rem;
        line-height: 2rem;
    }
    
    .container_input {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    [class *= "form_link"] {
        font-size: 1.5rem;
        padding: .5rem .75rem;
    }
    
    .form_link-first {
        margin: 2rem 0;
    }
    
    .form_submit {
        padding: 1rem;
        margin-bottom: 3rem;
        font-size: 2.25rem;
    }
    
    .social_h4 {
        font-size: 1.5rem;
    }
    
    .social__li-link {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
    }
}